.title-box {
    width: 100vw;
    padding: .2em 1rem;
    color: #000000ee;
}

.title-up {
    margin-left: 1rem;
    font-size: 1rem;
}

.title-logo {
    display: inline;
    width: 1.5rem;
    height: auto;
}

.title {
    margin-bottom: .1em;
    font-size: 2rem;
    margin-left: 3rem;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 1.5em;
        margin-left: 3.5rem;
    }

    .title-up {
        font-size: 1.2rem;
    }

    .title-logo {
        width: 2rem;
    }

    .header-image {
        margin: auto;
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .header-container {
        padding: 2rem 1rem;
    }

    .title-box {
        width: unset;
        padding: 0;
        margin: .2em;
        color: #333333;
    }
}