.compare-box {
    margin: 0 0 30px 15px;
    padding: 30px 15px 30px 20px;
    background-color: hsl(39deg, 100%, 94%);
    border-radius: 30px 0 0 0;
}

.compare-title {
    font-size: 28px;
    color: hsla(30, 89%, 59%, 1);
}

.compare-icon {
    font-size: 28px;
    transform: translateY(4px);
}

.compare-name {
    margin-top: 20px;
    color: hsla(26, 96%, 35%, 1)
}

.compare-text {
    margin-top: 10px;
    color: hsla(0, 0%, 31%, 1);
}

.compare-link {
    display: block;
    padding-bottom: 8px;
    color: hsl(200deg, 80%, 45%);
    word-break: break-all;
}

.compare-catch-box {
    margin-left: 35px;
}

.compare-catch {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: solid 3px hsl(35deg,100%,60%);
    display: inline-block;
    color: #555;    
}

@media only screen and (min-width: 768px) {
    .compare-catch-box {
        margin-left: 115px;
    }
    .compare-catch {
        font-size: 28px;
    }
    .compare-box {
        margin-bottom: 100px;
        border-radius: 100px 0 0 0;
        padding: 40px 0 40px 100px;
    }
}